.chatlist {
  display: flex;
  width: 100%;
  height: 100vh;

  .chatlist__body {
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    height: 100%;
    background-color: #2020206c;
    backdrop-filter: blur(50px);

    .chatlist__body__search {
      margin-top: 15px;
      width: calc(100% - 10px);
      height: 30px;
      background-color: #ffffff18;
      border-radius: 4px;
      border-bottom: 1px solid white;
      padding-left: 8px;
      color: white;

      background-image: url("../../assets/img/everyone/search.png");
      background-position-x: 97%;
      background-position-y: center;
      background-repeat: no-repeat;
      background-size: 15px;
    }

    .chatlist__body__header {
      display: flex;
      align-items: end;
      width: 100%;

      .body__header__title {
        font-size: 18px;
        margin-bottom: -5px;
        margin-left: 15px;
        font-weight: 400;
        color: white;
      }

      .body__header__menu {
        cursor: pointer;

        .header__menu__button:nth-child(2) {
          top: 50%;
          transform: translateY(-20%);
        }
        .header__menu__button {
          margin-top: 5px;
          border-radius: 3px;
          width: 23px;
          height: 2px;
          background-color: white;
        }
      }
    }

    .chatlist__body_drag {
      top: 0;
      right: 0;
      position: absolute;
      background-color: #ffffff00;
      width: 0.3vw;
      height: 100%;
      cursor: ew-resize;
    }

    .chatlist__body__list {
      overflow-y: scroll;
      margin-top: 1vh;
      width: calc(100% - 3px);

      .body__list__contact {
        margin-top: 2px;
        width: calc(100%);
        height: 70px;
        background-color: green;
      }
    }

    .chatlist__body__list_active::-webkit-scrollbar {
      position: relative;
      right: -10px;
      width: 3px;
    }
    .chatlist__body__list_active::-webkit-scrollbar-thumb {
      background-color: #979a9f;
      border-radius: 2px;

      transition: .2s ease-in-out;
    }
  }
}

.removeSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
